@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap');
body{
    background-color: black;
    font-family: 'Source Serif Pro', serif;
    z-index: -1;
}
h1 {
    font-size: 2em;
}
section{
    margin: 0 auto;
    height: 100%;
    z-index: 1;
}
main{
    display: grid;
    max-width:100%;
    height: auto;
    grid-template-columns: 1fr 380px 1fr;
    grid-template-rows: 260px 100px 150px;
}
main img{
    grid-column: 2/3;
    width:100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
main div{
    text-align: center;
    grid-column: 2/3;
    grid-row: 2/3;
}
main h2{
    text-align:left;
    margin-left: 30px;
    grid-column: 2/3;
    grid-row: 3/4;
}

.content{
    background-color: white;
    grid-row:1/-1;
    grid-column: 2/3;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
main .info{
    background-color: #3c5c8b;
    color: white;
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-column: 2/3;
    -ms-grid-column-span: 1fr ;
    -ms-grid-row-span: 1fr ;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    grid-row-gap: 2px;
}
.num1{
    padding: 30px;
    grid-column: 1/2;
    border-right: solid grey;
    border-width: 1px;
}
.num2{
    padding: 30px;
    grid-column: 2/3;
    border-right: solid grey;
    border-width: 1px;
}
.num3{
    text-align: center;
    padding: 30px;
    grid-column: 3/4;
}
h1 {
    font-size: 35px;
    margin-top: -10px;
}
h2 {
    color: gray;
    font-size: 1em;
    text-align: center;
    margin-top: -15px;
}
.number {
    font-size: 25px;
    margin-top: -10px;
    font-weight: 600;
    text-align: center;
}
.way {
    margin-top: -20px;
    font-size: 15px;
    margin-bottom: -10px;
    font-weight: 300;
}
#read {
    margin-top: -20px;
}
#five {
    margin-top: -15px;
}
.time {
    color: #3c5c8b;
    font-weight: 600;
}