#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
}
body{
    background-color: #507DBC;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header{
    background-color: #A1C6EA;
}
nav a:hover{
    background-color: black;
    color: #A1C6EA;
}
.book, .join{
    background-color: #507DBC;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #507DBC;
    color: white;
    
}
#background{
    background-color: #507DBC;
}
.msg{
    background-color: #A1C6EA;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: #BBD1EA;
    padding: 25px 50px;
}
.home-title{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: black;
}
.msg h2{
    color: #507DBC;
}
.msg p{
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3{
    color: #507DBC;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: #507DBC;
    text-decoration: underline;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}   
.card-img {
    border: 10px solid #A1C6EA;
}
main section img {
    box-sizing: border-box;
}